<template>
  <div class="login-view">
    <h1>Kanban App</h1>
    <KanbanLoginForm :onlogin="handleLogin" />
  </div>
</template>

<script>
import KanbanLoginForm from '@/components/molecules/KanbanLoginForm.vue'

export default {
  name: 'KanbanLoginView',

  components: {
    KanbanLoginForm
  },

  methods: {
    handleLogin (authInfo) {
      return this.$tore.dispatch('login', authInfo)
        .then(() => {
          this.$router.push({ path: '/' })
        })
        .catch(err => this.throwReject(err))
    },
    throwReject (err) { return Promise.reject(err) }
  }
}
</script>

<style scoped>
.login-view {
  width: 320px;
  margin: auto;
}
</style>
