<template>
  <button
    :class="classes"
    :disabled="disabled"
    type="button"
    @click="handleClick"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'KanbanButton',

  props: {
    type: {
      type: String,
      default: 'button'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    // typeに対応したクラスを付与する
    classes () {
      const cls = this.type === 'text' ? ('-' + this.type) : ''
      return [`kanban-button${cls}`]
    }
  },

  methods: {
    // 'click'イベントを発行
    handleClick (event) {
      this.$emit('click', event)
    }
  }
}
</script>

<style scoped>
.kanban-button {
  padding-right: 0;
  padding-left: 0;
  border: none;
}
</style>
