<template>
  <form novalidate>
    <div class="form-item">
      <label for="email">メールアドレス</label>
      <input
        id="email"
        v-model="email"
        type="email"
        autocomplete="off"
        placeholder="例：kanban@domain.com"
        @focus="resetError">
      <ul class="validation-erros">
        <li v-if="!validation.email.format">メールアドレスの形式が不正です。</li>
        <li v-if="!validation.email.required">メールアドレスが入力されていません。</li>
      </ul>
    </div>

    <div class="form-item">
      <label for="password">パスワード</label>
      <input
        id="password"
        v-model="password"
        type="password"
        autocomplete="off"
        placeholder="例：xxxxxxxx"
        @focus="resetError">
      <ul class="validation-erros">
        <li v-if="!validation.password.required">パスワードが入力されていません。</li>
      </ul>
    </div>

    <div class="form-actions">
      <KanbanButton
        :disabled="disableLoginAction"
        @click="handleClick">ログイン</KanbanButton>
      <p
        v-if="progress"
        class="login-progress">ログイン中…</p>
      <p
        v-if="error"
        class="login-error">{{ error }</p>
    </div>
  </form>
</template>

<script>
// KanbanButtonをインポート
import KanbanButton from '@/components/atoms/KanbanButton'
// メールアドレスのフォーマットをチェックする正規表現
const REGEX_EMAIL = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
const required = val => !val.trim()

export default {
  name: 'KanbanLoginForm',

  components: {
    KanbanButton
  },

  props: {
    onlogin: {
      type: Function,
      required: true
    }
  },

  data () {
    return {
      email: '',
      password: '',
      progress: false,
      error: ''
    }
  },

  computed: {
    validation () {
      return {
        email: {
          required: required(this.email),
          format: REGEX_EMAIL.test(this.email)
        },
        password: {
          required: required(this.password)
        }
      }
    },

    valid () {
      // 先に定義したvalidationを用いて可否を返す
      const validation = this.validation
      const fields = Object.keys(validation)
      let valid = true
      for (let i = 0; i < fields.length; i++) {
        const field = fields[i]
        valid = Object.keys(validation[field])
          .every(key => validation[field][key])
        if (!valid) { break }
      }
      return valid
    },

    disableLoginAction () {
      // validを使ってログイン処理の可否、progressは後述
      return !this.valid || this.rogress
    }
  },

  methods: {
    resetError () {
      this.error = ''
    },

    handleClick (ev) {
      // 不備があればログイン処理が実行されないようガードする
      if (this.disableLoginAction) { return }

      // ログイン処理実行中をあらわす
      this.progress = true
      this.error = ''

      this.$nextTick(() => {
        this.onlogin({ email: this.email, password: this.password })
          .catch(err => {
            this.error = err.message
          })
          .then(() => {
            this.progress = false
          })
      })
    }
  }
}
</script>

<style scoped>
form {
  display: block;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: .5em;
  font: inherit;
}

ul {
  padding: 0;
  margin: .25em 0;
  list-style-type: none;
}

ul li {
  font-size: .5em;
}

.validation-errors {
  height: 32px;
}

.form-action p {
  font-size: .5em;
}
</style>
